h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
<<<<<<< HEAD
 
form {
    text-align: center;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
} 
 
 
=======

.form{
    text-align: center;
}

>>>>>>> df7c65ac6da34254d124fc009d60e1b024664831
@media only screen and (min-width: 800px) {
    .clickLeft{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 6%;
        margin-left: 10px;
        background-image: url("../img/arrow_back_FILL0_wght400_GRAD0_opsz24.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .clickRight{
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 6%;
        margin-right: 10px;
        background-image: url("../img/arrow_forward_FILL0_wght400_GRAD0_opsz24.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}